/* styles.css */

/* Estilos para el cielo */
.sky {
    background-color: #87ceeb; /* Azul cielo */
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 80vh;
    position: absolute;
}

/* Estilos para las nubes */
.cloud {
    position: absolute;
    background-color: #ffffff; /* Blanco para las nubes */
    border-radius: 50%;
    opacity: 0.9;
}

.cloud1 {
    /* Estilos para la primera nube */
    /* Ajusta las propiedades de posición según tus necesidades */
    width: 100px;
    height: 50px;
    top: 50px;
    left: 100px;
}

.cloud2 {
    /* Estilos para la segunda nube */
    /* Ajusta las propiedades de posición según tus necesidades */
    width: 120px;
    height: 60px;
    top: 80px;
    left: 300px;
}

.cloud3 {
    /* Estilos para la tercera nube */
    /* Ajusta las propiedades de posición según tus necesidades */
    width: 90px;
    height: 45px;
    top: 120px;
    left: 500px;
}

/* Estilos para el pasto o paisaje */
.landscape {
    position: absolute;
    background-color: #7cfc00; /* Verde para el pasto */
    bottom: 0;
    width: 100vw;
    height: 20vh; /* Ajusta la altura según tus necesidades */
}

/* Estilos para el lienzo */
#myCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 22vw;
    height: auto;
}

h1,
h2 {
    text-align: right;
    font-family: "Pacifico", cursive;
    margin: 30px;
}

h1 {
    position: absolute;
    right: 10vw;
    top: 10vh;
    font-size: calc(1rem + 3em);
    color: #ff69b4;
}

h2 {
    position: absolute;
    right: 10vw;
    top: 35vh;
    font-size: calc(1rem + 0.8em);
    width: 50%;
    color: #ff69b4;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    padding: 0;
}
